SECRET_KEY=개발용이니-아무-값이나-넣어도-됩니다
DEBUG=True

POSTGRES_DB=household_db
POSTGRES_USER=household_user
POSTGRES_PASSWORD=household_password
DB_HOST=localhost
DB_PORT=5433
ALLOWED_HOSTS=127.0.0.1,localhost

EMAIL_HOST_USER=이메일주소
EMAIL_HOST_PASSWORD=앱 비밀번호 16자리
